<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulario responsivo com html e css</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div id="header"></div>
    </header>
    <hr>
    
    <div class="box">

        <div class="form-box">
            <h2>Cadastrar Aluna</h2>

            <form id="form1" action="http://localhost:8083/createAluna" method="post">
                <div class="input-group w50">
                    <label for="nomeResponsavel"> Nome do responsável</label>
                    <input type="text" id="nomeResponsavel" name="nomeResponsavel" required>
                </div>

                <div class="input-group  w50">
                    <label for="cpfRgResponsavel">CPF/RG</label>
                    <input type="text" id="cpfRgResponsavel" name="cpfRgResponsavel">
                </div>

                <div class="input-group w50">
                    <label for="nomeAluna"> Nome da bailarina</label>
                    <input type="text" id="nomeAluna" name="nomeAluna" >
                </div>

                <div class="input-group  w50">
                    <label for="cpfRgAluna">CPF/RG</label>
                    <input type="text" id="cpfRgAluna" name="cpfRgAluna" >
                </div>

                <div class="input-group  w50">
                    <label for="Turma">Turma</label>
                    <input type="text" id="Turma" name="Turma" >
                </div>

                <div class="input-group">
                    <button>Cadastrar</button>
                </div>
            </form>
    
        </div>
    </div>
    <script src="../controllers/converterDataHtmlToJson.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#header").load("header.html #menuPrincipal");
        });
    </script> 
</body>

</html>