<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Cadastro e controle de mensalidade</title>
    

</head>

<body>

    <header>


        <div id="header"></div>

    </header>

    <img src="logoImperio.png" alt="Imagem 1" class="img-circle">
    <img src="logoPetit.png" alt="Imagem 2" class="img-circle">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#header").load("header.html #menuEditarCadastro");
        });
    </script> 
</body>

</html>