
<div id="menuPrincipal" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="listaDeTurmas.html">Lista de turma</a>
        <a href="listaDeAlunas.html">Lista de alunas</a>
        <a href="cadastrarTurma.html">Cadastrar turmas</a>
        <a href="cadastrarAluna.html">Cadastrar Aluna</a>
        <a href="editarCadastro.html">Editar Cadastro</a>
    </div>
</div>


<div id="menuEditarCadastro" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="editarTurma.html">Editar Turma</a>
        <a href="editarAluna.html">Editar Aluna</a>
        <a href="apagarTurma.html">Apagar Turma</a>
        <a href="apagarAluna.html">Apagar Aluna</a>
    </div>
</div>
