<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulario responsivo com html e css</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="findATurma.js"></script>
    <script>
        // Função para guardar o valor do primeiro td
        function guardarValor(elemento) {
            // Pegar o primeiro td dentro do elemento clicado
            var td = elemento.querySelector("td");
            // Guardar o valor do td em uma variável
            var valor = td.textContent;
            // Guardar o valor em localStorage para usar em outro lugar
            localStorage.setItem('valorTd', valor);
        }
    </script>
</head>

<body>
    <header>
        <div id="header"></div>
    </header>
    <div class="box">
        <div class="form-box-list">
            <form action="#">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome da Turma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="guardarValor(this); window.location='turma.html';">
                            <td>1</td>
                            <td>teste clic</td>
                        </tr>
                        <script type="text/javascript" src="../controllers/findTurma.js"></script>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("header.html");
        });
    </script>
</body>

</html>
