<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulario responsivo com html e css</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div id="header"></div>

    </header>

    <div style="display: flex; flex-direction: column;">
        <div class="box">
            <div class="form-box-list">
                <form action="#">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Turma</th>
                                <th>Horário da turma</th>
                                <th>Faixa etária</th>
                                <th>Dia de aula</th>
                
                            <tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>T00</td>
                                <td>Alunas sem turma</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                               
                            </tr>
                            <tr>
                                <td>T01</td>
                                <td>Baby I</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                               
                            </tr>
                            <tr>
                                <td>T02</td>
                                <td>Baby II</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                              
                            </tr>
                            <tr>
                                <td>T03</td>
                                <td>Ballet Preparatório</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                              
                            </tr>
                            <tr>
                                <td>T04</td>
                                <td>Ballet Intermediario I</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                             
                            </tr>
                            <tr>
                                <td>T05</td>
                                <td>Ballet Intermediario II</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                              
                            </tr>
                            <tr>
                                <td>T06</td>
                                <td>Ballet Avançado</td>
                                <td>86</td>
                                <td>77</td>
                                <td>87</td>
                              
                            </tr>
                 
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
       
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#header").load("header.html");
        });
    </script> 
   
    
</body>

</html>