@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

header {
    position: fixed;
    top: 0;
    margin: 100;
    width: 90%;
    /* Outros estilos do cabeçalho */
}

.header-button {
    width: 100%;
    height: 55px;
    background: #b10099ad;
    border-radius: 20px;
    outline: none;
    border: 0cm;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}
.search-box {
    width: 100%;
    height: 55px;
    background: #b10099ad;
    border-radius: 20px;
    outline: none;
    border: 0;
    margin-top: 10px;   
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.search-btn{
width: 30px;
height: 40px;
margin: 10px 0px 10px -50px;
border-radius: 50%;
background: #751e6900;
display: flex;
justify-content: center;
align-items: center;


}
.header-button:active {
    /* Estilos do botão quando clicado */

    transform: scale(0.95);
    /* Faz o botão parecer que está sendo pressionado */
}

.img-circle {
    border-radius: 50%;
    width: 30%; /* Ajuste este valor conforme necessário */
    height: auto;
    object-fit: cover;
    margin-top: 50px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 50px; /* Ajuste este valor conforme necessário */
    height: 50px; /* Ajuste este valor conforme necessário */
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

body {

    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    min-height: 100vh;
}

.w50 {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.w30 {
    width: 30%;
    float: left;
    padding-right: 15px;
}
.w33 {
    width: 33.33%;
    float: left;
    padding-right: 15px;
}
.w32 {
    width: 32.6%;
    float: left;
    padding-right: 15px;
}
.w25 {
    width: 25%;
    float: left;
    padding-right: 15px;
}

.w10 {
    width: 10%;
    float: left;
    padding-right: 15px;
}
.w40 {
    width: 40%;
    float: left;
    padding-right: 15px;
}
.w20 {
    width: 20%;
    float: left;
    padding-right: 15px;
}

.box {
    display: flex;
    width: 1230px;

}

.form-box {
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(40px);
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
}

.form-box-list {
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(40px);
    padding: 10px 20px ;
    width: 100%;
    border-radius: 30px;   
    margin-top: 80px;  
    clear: both;
}

.form-box h2 {
    font-size: 30px;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D;
}

.form-box form {
    margin: 20px 0;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.input-group:active {
    /* Estilos do botão quando clicado */

    transform: scale(0.99);
    /* Faz o botão parecer que está sendo pressionado */
}



@media (max-width:500px) {
    .w50 {
        width: 100%;
        padding: 0;
    }
}